.all
  .header-registration
    .header-registration__contents
      .merucari-icon
        = link_to(root_path, class:"logo-link") do
          = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg', class: 'logo-link__image'
      .registration-bar.sms-bar.address-bar.card-bar.end-bar
        = render 'layouts/progressbar'

  .registry-box
    .registry-box__title
      会員登録完了
    .registry-box__content
      .registry-box__content__box
        .done-text
          ありがとうございます。
        .done-text
          会員登録が完了しました。
        = link_to(root_path, class: "next") do
          メルカリをはじめる