
a {
  text-decoration: none;
  color: inherit;
}

.header {
  a:hover {
    color: rgb(0,149,238);
  }
}

ul {
  list-style: none;
}

.icon-orange {
  color: $orange;
  margin-right: 4px;
  max-width: 100%;
  max-height: 100%;
}

.icon-gray {
  color: $formborder;
  max-width: 100%;
  max-height: 100%;
  margin-right: 10px;
  font-size: 1.4rem;
  font-weight: lighter;
}

.header {
  width: 100%;
  background-color: $white;
  // box-shadow: 0 0 5px;
  height: 100px;
  &__box {
    height: calc(100% - 7px);
    width: 1020px;
    margin: 0 auto;
    padding-top: 7px;
    &__upper {
      @include box;
      &__logo{
        align-items: center;
        margin-right: 45px;
        height: 40px;
        .logo-link{
          color: inherit;
          text-decoration: none;
          &__image{
            height: 34px;
            width: 134px;
          }
        }
      }
      &__search-form{
        width: 100%;
        position: relative;
        &__input{
          background-color: $gray;
          border-color: $formborder;
          border-style: solid;
          border-image: initial;
          width: 100%;
          border-width: 1px;
          border-radius: 4px;
          padding: 0 50px 0 10px;
          height: calc(100% - 2px);
          font-size: 16px;
        }
        &__btn{
          cursor: pointer;
          width: 40px;
          height: 40px;
          position: absolute;
          top: 0;
          right: 0;
          background-color: transparent;
          border: none;
          font-size: 1.2em;
        }
      }
    }
    &__lower {
      @include box;
      justify-content: space-between;
      margin-top: 8px;
      &__list-categories {
        display: flex;
        &__category {
          padding-right: 10px;
          // background-color: #ea352d;
          @include categories;
        }
        &__brand {
          padding-left: 10px;
          @include categories;
        }
      }
      &__list-user {
        display: flex;
        position: relative;
        a:hover {
          color: $lightblue;
          i {
            color: $lightblue;
          }
        }
        &__favorite{
          @include list-user;
        }
        &__notice{
          padding-left: 14px;
          @include list-user;
        }
        &__todo{
          padding-left: 14px;
          @include list-user;
        }
        &__mypage{
          padding-left: 14px;
          @include list-user;
          &__link__icon{
            border-radius: 50%;
            width: 32px;
            height: 32px;
            margin-right: 10px;
          }
        }
      }
      &__btn-box{
        display: flex;
        &__btn{
          text-align: center;
          margin-left: 11px;
          &__orange{
            background-color: $orange;
            color: $white;
            border-color: $orange;
            @include btn;
          }
          &__blue{
            background-color: $white;
            color: $lightblue;
            border-color: $lightblue;
            @include btn
          }
        }
      }
    }
  }
}

//headerのカテゴリリスト
#categoryAll{

  #categoryBox{
    display: flex;
    position: absolute;
    z-index: 2;
    &__box{
    }
    &__childbox{
      background-color: $white;
      height: 616px;
    }
    &__grandchildbox{
      background-color: $white;
      height: 616px;
    }
  }
}

.categoryList{
  @include category-list;
  line-height: 44px;
  width: 200px;
}
.categoryList:hover{
  background-color: $orange;
  color: $white;
}

.childcategoryList{
  @include category-list;
  line-height: 30px;
  width: 200px;
}
.childcategoryList:hover{
  background-color: $bordergray;
}

.grandchildcategoryList{
  @include category-list;
  line-height: 30px;
  width: 200px;
  border-right: solid 1px $bordergray;
}
.grandchildcategoryList:hover{
  background-color: $bordergray;
}