
.credit-japan {
  background: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}
.credit-wrapper {
  height: 1292px;
  margin: 40px auto 0;
  width: 1020px;
}
.hhhh {
  height: 1252px;
  width: 280px;
  background: darkseagreen;
  float: left;
  margin: 0 40px 0 0;
}

///一つ目///
.credit {
  &__header {
  }
  &__content {
    &__up2 {
      &__show {
        max-width: 320px;
        margin: 0 auto;
        &__bar {
          font-size: 16px;
        }
      }
    }
    &__add {
      height: 58px;
      padding: 24px 0;
      border-bottom: 1px solid #eee;
      &__box {
        max-width: 320px;
        margin: 0 auto;
        &__buttun {
          font-size: 14px;
          margin-bottom: 8px !important;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          .fa-credit-card {
            margin-right: 16px;
            font-size: 17px;
          }
        }
      }
    }
  }
}
///二つ目///
.credit2 {
  background: white;
  height: 562px;
  width: 700px;
  float: right;
  font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
  &__header {
    font-size: 24px;
    padding: 8px 24px;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    line-height: 1.4;
  }
  &__content2 {
    padding: 40px 40px 64px;
    height: 407px;
    width: 620px;
    &__box {
      height: 407px;
      max-width: 343px;
      margin: 0 auto;
      &__group1 {
        height: 98px;
        width: 343px;
        #title {
          @include font-weight;
        }
        #mark {
          @include mark;
        }
        &__submit {
          width: 100%;
          margin: 8px 0 0;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          box-sizing: border-box;
        }
        &__list {
          margin: 8px 0 0;
          font-size: 0;
          &__sub {
            display: inline-block;
          }
        }
      }
      &__group2 {
        margin-top: 32px;
        #title {
          @include font-weight;
        }
        #mark {
          @include mark;
        }
        &__bath {
          display: flex;
          font-size: 14px;
          &__month {
            width: calc(50% - 2px);
            margin: 8px 0 0;
            position: relative;
            background: #fff;
            &__select {
              width: calc(100% - 38px);
              position: relative;
              z-index: 2;
              height: 48px;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              font-size: 14px;
              line-height: 1.5;
              cursor: pointer;
              outline: 0;
              -webkit-appearance: none;
            }
            .fa-chevron-down {
              font-size: 15px;
              margin: 0 6px 0 -15px;
              position: relative;
              top: 3px;
              pointer-events: none;
              right: 16px;
              z-index: 2;
              color: #888;
              transform: translate(0, -25%)
            }
          }
          &__year {
            display: inline-block;
            width: calc(50% - 2px);
            margin: 8px 0 0;
            position: relative;
            background: #fff;
            &__select {
              width: calc(100% - 38px);
              position: relative;
              z-index: 2;
              height: 48px;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              font-size: 14px;
              line-height: 1.5;
              cursor: pointer;
              outline: 0;
              -webkit-appearance: none;
            }
            .fa-chevron-down {
              font-size: 15px;
              margin: 0 6px 0 -15px;
              position: relative;
              top: 3px;
              pointer-events: none;
              right: 16px;
              z-index: 2;
              color: #888;
              transform: translate(0, -25%)
            }
          }
        }
      }
      &__group3 {
        height: 93px;
        width: 343px;
        margin-top: 32px;
        #title {
          @include font-weight;
        }
        #mark {
          @include mark;
        }
        &__submit {
          width: 100%;
          margin: 8px 0 0;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          box-sizing: border-box;
        }
        &__box {
          position: relative;
          margin: 8px 0 0;
          font-size: 14px;
          &__sub {
            text-align: right;
            color: #0099e8;
            #question {
              display: inline-block;
              width: 14px;
              height: 14px;
              border-radius: 50%;
              background: #0099e8;
              color: #fff;
              line-height: 14px;
              font-size: 10px;
              text-align: center;
              text-decoration: none;
              margin-top: 7px;
            }
          }
        }
      }
      &__group4 {
        height: 134px;
        width: 311px;
        &__button {
          height: 48px;
          margin-top: 32px;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          display: block;
          width: 343px;
          line-height: 48px;
          font-size: 14px;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }
}

///三つめ
.credit {
  background: white;
  height: 368.094px;
  width: 700px;
  float: right;
  font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
  &__header {
    font-size: 24px;
    padding: 8px 24px;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    line-height: 1.4;
  }
  &__content {
    height: 189.9px;
    width: 572px;
    padding: 64px;
    border-top: 1px solid #f5f5f5;
    &__up {
      height: 133px;
      width: 572px;
      &__show {
        max-width: 320px;
        margin: 0 auto;
        &__bar {
          font-size: 16px;
        }
      }
      &__list {
        height: 117px;
        &__box {
          height: 68px;
          padding: 24px 0;
          border-bottom: 1px solid #eee;
          &__post {
            height: 68px;
            position: relative;
            max-width: 320px;
            margin: 0 auto;
            &__figure {
              height:20px;
              max-width: 320px;
              &__num {
                margin: 8px 0 0;
                font-size: 16px;
              }
              &__buttun {
                width: 67px;
                height: 24px;
                font-size: 14px;
                line-height: 14px;
                position: absolute;
                top: 0;
                right: 0;
                padding: 4px 6px;
                background: #fff;
                border-radius: 3px;
                border: 1px solid #ea352d;
                color: #ea352d;
              }
            }
          }
        }
      }
    }
    &__down {
      display: block;
      margin: 40px 0 0;
      text-align: right;
      color: #0099e8;
      text-decoration: none;
      touch-action: manipulation;
      #credit-span {
        font-size: 14px;
      }
      .fa-chevron-right{
        margin: 0 0 0 8px;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        vertical-align: middle;
        -webkit-text-stroke: 1px white
      }
    }
  }
}