//商品出品ページ
@mixin mark {
  background: #ea352d;
  padding: 3px 3px;
  margin: 0 0 0 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
}

@mixin font-weight {
  font-weight: 600;
  font-size: 14px;
}

@mixin select {
  margin: 5px 0 0;
  background: #fff;
  position: relative;
  display: inline-block;
  width: 100%;
}
@mixin select_after {
  content: '';
  width: 9px;
  height: 9px;
  border: 0px;
  border-bottom: solid 2px #888;
  border-right: solid 2px #888;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -7px;
}
@mixin select_show {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 48px;
  background: transparent;
  position: relative;
  z-index: 1;
  padding: 0 16px;
  border: 1px solid #ccc;
  border-radius: 2px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

@mixin preview {
  width: auto;
  height: fit-content;
  box-sizing: border-box;
  .img_view {
    float: left;
    -webkit-box-flex: 1;
    flex: 1;
    height: 172px;
    width: 116px;
    margin-right: 5px;
    .image {
      line-height: 116px;
      width: 116px;
      padding: 0;
      height: 117px;
      position: relative;
      margin: 0;
    }
    .btn_box {
      font-size: 14px;
      display: flex;
      cursor: pointer;
      &__edit {
        width: 50%;
        background: #f5f5f5;
        line-height: 44px;
        text-align: center;
        color: #0099e8;
        text-decoration: none;
      }
      &__delete {
        border-left: 1px solid #eee;
        width: 50%;
        background: #f5f5f5;
        line-height: 44px;
        text-align: center;
        color: #0099e8;
        text-decoration: none;
      }
    }
  }
}

@mixin img-content{
  width: 100%;
  min-height: 162px;
  padding: 40px;
  position: relative;
  border: 1px dashed rgb(204,204,204);
  background-color: rgb(245,245,245);
  font-size: 0px;
  text-align: center;
  box-sizing: border-box;
  float: right;
  cursor: pointer;
}

@mixin guide {
  position: absolute;
  top: 35%;
  left: 16px;
  right: 16px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5rem;
  word-break: break-all;
}