
//会員登録トップページ
@mixin box-style{
  // border-radius: 4px;
  display: block;
  position: relative;
  text-align: center;
}
@mixin box-mailFacebook {
  height: 50px;
  color: #ffffff;
}
@mixin icon-style {
  display: block;
  position: absolute; top: 15px; left: 15px;
  font-size: 20px;
}

.all{
  height: 100vh;
  width: 100vw;
  background-color: rgb(245, 245, 245);
}

#address_prefecture_id{
  width: 35%;
}

.registry-box{
  width: 700px;
  margin: 0 auto;
  &__title{
    text-align: center;
    padding: 32px;
    font-size: 22px;
    background-color: #ffffff;
    margin-bottom: 1px;
  }
  &__content{
    padding: 40px 40px 64px;
    background-color: #ffffff;
    &__box{
      max-width: 343px;
      margin: 0 auto;
      // text-align: center;
      line-height: 50px;
      font-size: 13px;
      &__mail{
        @include box-style;
        @include box-mailFacebook;
        background-color: #ea352d;
      }
      &__facebook{
        @include box-style;
        @include box-mailFacebook;
        margin-top: 16px;
        background-color: #385185;
      }
      &__google{
        @include box-style;
        margin-top: 16px;
        height: 48px;
        border: #979797 solid 1px;
        color: #000000;
      }
    }
  }

}

.icon{
  &__mail{
    @include icon-style;
  }
  &__facebook{
    @include icon-style;
  }
  &__google{
    display: block;
    position: absolute; top: 10px; left: 10px;
  }
}




//会員登録5STEPページ
.all{
  overflow: scroll;
}

.header-registration{
  &__contents{
  display: flex;
  width: 900px;
  margin: 0 auto;
  }
  .merucari-icon{
    width: 185px;
    height: 49px;
    padding: 40px 0px;
    margin-left: 70px;
  }
  
  .progress{
    padding: 40px 0 0 44px;
    border: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    text-align: center;
    margin-right: auto;
    &-bar{
      margin: 0;
      li{
        margin: 0 40px 0 0;
        padding: 0;
        position: relative;
        z-index: 40;
        display: inline-block;
        min-width: 60px;
        font-size: 12px;
        color: gray;
        .progress-status{
          position: absolute;
          left: 40%;
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          background: gray;
          border-radius: 50%;
          z-index: 30;
        }
      }
    }
  }
  
  
  // デフォルトのプログレスバー
  .progress-status_bar {
  position: absolute;
  left: 50%;
  top: 30px;
  bottom: 5px;
  display: block;
  width: 130px;
  height: 2px;
  background: gray;
  z-index: 10;
  }
  
  .end .progress-status_bar {
  width: 0px;
  }
  .payment .progress-status_bar {
  width: 100px;
  }




  .registration-bar{
    #through{
      color: #ea352d;
      .progress-status{
        background-color: #ea352d;
      }
    }
  }
  .sms-bar{
    #through{
      .progress-status_bar{
        background-color: #ea352d;
      }
    }
    #active{
      color: #ea352d;
      .progress-status{
        background-color: #ea352d;
      }
    }
  }
  .address-bar{
    #active{
      .progress-status_bar{
        background-color: #ea352d;
      }
    }
    #address{
      color: #ea352d;
      .progress-status{
        background-color: #ea352d;
      }
    }
  }
  .card-bar{
    #address{
      .progress-status_bar{
        background-color: #ea352d;
      }
    }
    #payment{
      color: #ea352d;
      .progress-status{
        background-color: #ea352d;
      }
    }
  }
  .end-bar{
    #payment{
      .progress-status_bar{
        background-color: #ea352d;
      }
    }
    #end{
      color: #ea352d;
      .progress-status{
        background-color: #ea352d;
      }
    }
  }

}












.field{
  padding-bottom: 30px;
  .string{
    display: flex;
    margin-bottom: 5px;
    .text{
      font-weight: bold;
      font-size: 15px;
      text-align: left;
      line-height: 23px;
    }
    .required{
      margin-left: 8px;
      background-color: #ea352d;
      border-radius: 2px;
      color: #ffffff;
      font-size: 12px;
      width: 30px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      // margin-top: 15px;
    }
    .non-required{
      margin-left: 8px;
      background-color: rgb(235, 235, 235);
      border-radius: 2px;
      color: #ffffff;
      font-size: 12px;
      width: 30px;
      height: 20px;
      line-height: 20px;
      // margin-top: 15px;
      text-align: center;
    }
  }
  .textfi{
    display: flex;
    // width: 165px;
  }
  .halffield{
    width: calc(50% - 6px);
  }
  .textfield{
    width: 328px;
    height: 44px;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
}


.identification{
  &__title{
    font-size: 17px;
    font-weight: bold;
    padding-left: 0px;
    text-align: left;
  }
  &__text{
    line-height: 17px;
    text-align: left;
  }
}

#margintext{
  margin-top: 10px;
}


.attenton-identification{
  color: #888;
  line-height: 15px;
  text-align: left;
  padding-top: 10px;
}

.TermsOfService{
  line-height: 15px;
}
.next{
  display: block;
  width: 100%;
  height: 50px;
  color: #ffffff;
  background-color: #ea352d;
  text-align: center;
  line-height: 50px;
  margin-top: 32px;
}
.confirmation-identification{
  text-align: right;
  color: #0099e8;
}
.link-term{
  color: #0099e8;
}

.link{
  text-align: right;
}

@mixin date-select {
  height: 50px;
  background-color: #ffffff;
  padding-left: 10px;
  -webkit-appearance: none;
  background-image: image-url("arrow.png");
  background-repeat: no-repeat;
	background-size: 15px 12px;
	background-position: right 10px center;
}

#user_birth_date_1i{
  @include date-select;
  width: 76px;

}

#user_birth_date_2i{
  @include date-select;
  width: 76px;
}

#user_birth_date_3i{
  @include date-select;
  width: 76px;
}

.robot{
  width: 304px;
  height: 78px;
  background-color: #f9f9f9;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  &__term{
    font-size: 10px;
    text-align: right;
    line-height: 10px;
  }
}

.spacebox{
  margin-top: 1px;
}

.link-tel{
  text-align: left;
}

.done-text{
  line-height: 16px;
}

#address_prefecture_id{
  // width: 343px;
  height: 48px;
  background-color: #ffffff;
  -webkit-appearance: none;
  background-image: image-url("arrow.png");
  background-repeat: no-repeat;
	background-size: 15px 12px;
  background-position: right 10px center;
  font-size: 16px;
  padding-left: 10px;
}



//card
.input-expire {
  @include date-select;
  width: 110px;
}

.input-expire2{
  @include date-select;
  width: 110px;
  margin-top: 10px;
}

.card-mark{
  display: flex;
  padding-top: 10px;
}


#half{
  width: 165px;
}
