%aside.advertisement
  .advertisement__body
    .advertisement__body__box
      .advertisement__body__box__left
        .advertisement__body__box__left__top
          スマホで簡単スマホアプリ
        .advertisement__body__box__left__middle
          今すぐ無料ダウンロード！
        .advertisement__body__box__left__bottom
          %img{src:"https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png", class:"advertisement__body__box__left__bottom__mercari-image"}
          = link_to("https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", class:"advertisement__body__box__left__bottom__app-store") do
            %img{src:"https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", class:"advertisement__body__box__left__bottom__app-store__image"}
          = link_to("https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", class:"advertisement__body__box__left__bottom__google-play") do
            %img{src:"https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", class:"advertisement__body__box__left__bottom__google-play__image"}
      %figure.advertisement__body__box__right
        %img{src:"https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png", class:"advertisement__body__box__right__image"}