.simple-header
  .simple-header__logo
    = link_to(root_path, class:"logo-link") do
      = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg', class: 'logo-link__image'
